.container {
  padding-top: 3.4vh;
  position: relative;
  
}

.blur{
  filter: blur(10px);
}

.nav {
  padding-left: 7.1vw;
  padding-right: 7.1vw;
  color: white;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .logo {
  width: 6.4vw;
  height: 5.9vh;
  /* border: 1px solid white; */
}

.logo img{
  width: 100%;
}

.nav .links {
  display: flex;
  align-items: center;
  gap: 4.2vw;
  font-size: 1.5vh;
}

.nav .contactUs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.35vw;
  height: 4.7vh;
  border-radius: 50px;
  background: var(--medium-blue);
}

.main {
  /* border: 1px solid white; */
  color: white;
  width: 39VW;
  margin: auto;
  margin-top: 5vh;
  position: relative;
}

.main h1 {
  font-size: 5vh;
  color: white;
  font-weight: bolder;
  text-align: center;
  margin: 0px;
  margin-top: 5vh;
  margin-bottom: 3.4vh;
  font-family: Poppins-bold;
}

.main p {
  text-align: center;
}

.main p .bold {
  font-family: Poppins-semibold;
}

.countDown {
  margin-top: 2.9vh;
  width: 26vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid; */
}

.numberCont {
  background-color: white;
  color: black;
  width: 22%;
  height: 10.77vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.numberCont p {
  margin: 0px;
}

.numberCont .number {
  font-size: 3.4vh;
  font-family: Poppins-bold;
  margin: 0px;
  padding: 0px;
  margin-top: 1.8vh;
}
.numberCont .text {
  margin: 0px;
  padding: 0px;
  font-size: 1.4vh;
}

.form {
  margin-top: 3vh;
  /* border: 1px solid red; */
}

.names {
  display: flex;
  gap: 2.1vw;
  justify-content: center;
}

.names input {
  border: none;
  background: none;
  padding: 10px;
  color: lightgray;
  width: 13vw;
  border-bottom: 2px solid var(--english-violet);
}

.names input:focus {
  outline: none;
}

.email {
  width: 35vw;
  margin: auto;
  background-color: white;
  border-radius: 50px;
  height: 5vh;
  margin-top: 3vh;
  display: flex;
  justify-content: flex-end;
}

.emailInput {
  width: 20vw;
  border: none;
}
.emailInput:focus {
  outline: none;
}
.submit {
  border-radius: 50px;
  width: 13vw;
  border: none;
  background-color: var(--medium-blue);
  margin: 0px;
  margin-right: -1px;
  color: white;
  box-shadow: 0px 0px 3px var(--dark-purple);
  font-variant: small-caps;
  /* font-size: 1.5vh; */
}

.footer {
  /* border: 1px solid white; */
  margin-top: 11.6vh;
  height: 22vh;
  position: relative;
  overflow: hidden;
}

.footer .circle {
  width: 100vw;
  height: 100vw;
  background-color: white;
  border-radius: 50%;
  background: #2b1c3d80;
  border: 1px solid #ada8a8;
  position: relative;
  z-index: 1;
}

.footer .orangeCirlce{
  position: absolute;
  width: 137px;
  height: 137.94px;
  border-radius: 50%;
  background: linear-gradient(180deg, #773D29 0%, #0C0123 100%);
  left: 22vw;
z-index: 1;
}




 .content{
  height: 10.5vh;
  width: 31vw;
  margin: auto;
  margin-top: 8.5vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--manatee);
  font-size: 1.5vh;
}

.content .icons{
  width: 20vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.icons a {
  opacity: 0.9;
}
.icons a svg{
  fill: var(--manatee);
  width: 1.5vw;
}

.icons a svg:hover{
  fill: red;
}

.content .tos{
  width: 20vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.content .tos a{
  flex: 1;
  text-align: center;
  margin-top: 10px;
}

.content .copyrightText{
  margin: 0px;
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.main .purpleCirlce{
width: 100px;
height: 100px;
background: linear-gradient(180deg, #781C76 0%, #1E0040 82.81%);
border-radius: 50%;
left: -12.17vw;
top: -2vh;
position: absolute;
}

.main .blueCirlce{
  position: absolute;
  width: 80px;
  height: 80px;
  right: -9vw;
  top: 15.5vh;
  background: linear-gradient(180deg, #203A6D 0%, #1E0040 82.81%);
  position: absolute;
  border-radius: 50%;
}

